.table {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
}
.table-head {
  background: mintcream;
}
td {
  padding: 10px;
  border: 1px solid darkgray;
}
.table-body tr:nth-child(odd) {
  background: cornsilk;
}
.button {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.more {
  background: blueviolet;
  border: 1px solid blueviolet;
}
.edit {
  background: greenyellow;
  border: 1px solid greenyellow;
}
.delete {
  background: #f00;
  border: 1px solid #f00;
}